In [20]:
import pandas as pd, numpy as np

In [15]:
df_log = pd.DataFrame(columns=["ID", "음료 타입", "음료명", "사이즈"])
df_log

Empty DataFrame
Columns: [ID, 음료 타입, 음료명, 사이즈]
Index: []

In [16]:
df_log.to_csv('../data/order_data.csv', index=False)

In [21]:
data = np.array([['abc', 'Coffee', 'Brewed Coffee', 'Tall'], ['abc', 'Coffee', 'Brewed Coffee', 'Tall'], ['abc', 'Coffee', 'Brewed Coffee', 'Grande'], ['def', 'Coffee', 'Brewed Coffee', 'Tall'], ['abc', 'Classic Espresso Drinks', 'Caffè Latte', 'Grande']])

In [22]:
data

array([['abc', 'Coffee', 'Brewed Coffee', 'Tall'],
       ['abc', 'Coffee', 'Brewed Coffee', 'Tall'],
       ['abc', 'Coffee', 'Brewed Coffee', 'Grande'],
       ['def', 'Coffee', 'Brewed Coffee', 'Tall'],
       ['abc', 'Classic Espresso Drinks', 'Caffè Latte', 'Grande']],
      dtype='<U23')

In [23]:
df_log = pd.concat([df_log, pd.DataFrame(data, columns=df_log.columns)], ignore_index=True)

In [24]:
df_log

    ID                    음료 타입            음료명     사이즈
0  abc                   Coffee  Brewed Coffee    Tall
1  abc                   Coffee  Brewed Coffee    Tall
2  abc                   Coffee  Brewed Coffee  Grande
3  def                   Coffee  Brewed Coffee    Tall
4  abc  Classic Espresso Drinks    Caffè Latte  Grande

In [25]:
df_log.to_csv('../data/order_data.csv', index=False)

In [36]:
df_log.loc[df_log['ID'] == 'abc', '음료명':].value_counts().idxmax()

('Brewed Coffee', 'Tall')

In [37]:
df_log.loc[:, '음료명':].value_counts().idxmax()

('Brewed Coffee', 'Tall')

In [41]:
df_log.loc[(df_log['ID'] == 'abc') & (df_log['사이즈'] == 'Tall'), '음료명':].value_counts().idxmax()

('Brewed Coffee', 'Tall')