In [2]:
import pandas as pd, numpy as np

In [2]:
df_log = pd.DataFrame(columns=["ID", "음료명", "사이즈", "유제품", "주문 수"]).astype({'주문 수': 'int'})
df_log

Empty DataFrame
Columns: [ID, 음료명, 사이즈, 유제품, 주문 수]
Index: []

In [3]:
df_log.to_csv('../data/order_data.csv', index=False)

In [4]:
df_new = pd.read_csv('../data/order_data.csv')

In [5]:
df_new

    ID     음료명   사이즈 유제품  주문 수
0  abc  오늘의 커피  Tall   X     1

In [9]:
df_new.groupby('음료명').sum().sort_values('주문 수', ascending=False).iloc[0, :].to_frame().columns[0]

'오늘의 커피'

In [28]:
df_log = pd.concat([df_log, pd.DataFrame(data, columns=df_log.columns)], ignore_index=True)

In [35]:
df_log

    ID     음료명 사이즈 및 유제품  주문 수
0  abc  오늘의 커피      Tall     1

In [38]:
df_log.loc[(df_log['ID'] == 'abc') & (df_log['음료명'] == '오늘의 커피') & (df_log['사이즈 및 유제품'] == 'Tall'), '주문 수'] += 1

In [39]:
df_log

    ID     음료명 사이즈 및 유제품  주문 수
0  abc  오늘의 커피      Tall     2

In [47]:
df_log.loc[df_log['ID'] == 'abc', '음료명':].value_counts().idxmax()

ValueError: attempt to get argmax of an empty sequence

In [37]:
df_log.loc[:, '음료명':].value_counts().idxmax()

('Brewed Coffee', 'Tall')

In [ ]:
df_log.loc[(df_log['ID'] == 'abc') & (df_log['사이즈'] == 'Tall'), '음료명':].value_counts().idxmax()

('Brewed Coffee', 'Tall')