In [43]:
import pandas as pd, numpy as np

In [44]:
df_review = pd.DataFrame(columns=["ID", "음료명", "사이즈", "별점", "리뷰"]).astype({'ID': 'string', '별점': 'int32'})
df_review

Empty DataFrame
Columns: [ID, 음료명, 사이즈, 별점, 리뷰]
Index: []

In [45]:
df_review.to_csv('../data/review_data.csv', index=False)

In [5]:
df_review

Empty DataFrame
Columns: [ID, 음료명, 사이즈, 별점, 리뷰]
Index: []

In [8]:
data = np.array([['홍길동', 'abc', 'alpha'], ['김나나','def','beta'], ['김철수','ghi','gamma'], ['이민수','jkl','delta']])

In [9]:
data

array([['홍길동', 'abc', 'alpha'],
       ['김나나', 'def', 'beta'],
       ['김철수', 'ghi', 'gamma'],
       ['이민수', 'jkl', 'delta']], dtype='<U5')

In [10]:
df_user = pd.concat([df_user, pd.DataFrame(data, columns=df_user.columns)], ignore_index=True)

In [11]:
df_user.loc[df_user['이름']=='홍길동', '비밀번호'].values[0]

'alpha'

In [12]:
df_user.dtypes

이름      object
ID      object
비밀번호    object
dtype: object

In [13]:
df_user

    이름   ID   비밀번호
0  홍길동  abc  alpha
1  김나나  def   beta
2  김철수  ghi  gamma
3  이민수  jkl  delta

In [14]:
df_user.to_csv('../data/user_data.csv', index=False)