In [21]:
import pandas as pd, matplotlib.pylab as plt

In [22]:
df = pd.read_csv('../data/order_data.csv')
df

    ID                음료명      사이즈 및 유제품  주문 수
0  abc             오늘의 커피           Tall     4
1  abc               카푸치노  Grande 무지방 우유     2
2  abc               카푸치노   Venti 무지방 우유     1
3  abc               카푸치노       Venti 두유     1
4  abc              타조® 티          Short     1
5  abc      카페 모카 (휘핑 제외)   Venti 저지방 우유     2
6  def  자바칩 프라푸치노 (휘핑 제외)   Venti 무지방 우유     1
7  def  자바칩 프라푸치노 (휘핑 제외)   Grande 일반 우유     2
8  ghi             오늘의 커피          Venti     3
9  ghi      카페 모카 (휘핑 제외)  Grande 저지방 우유     2

In [23]:
df_matrix = df.pivot_table(index='ID', columns='음료명', values='주문 수', aggfunc='sum')
df_matrix

음료명  오늘의 커피  자바칩 프라푸치노 (휘핑 제외)  카페 모카 (휘핑 제외)  카푸치노  타조® 티
ID
abc     4.0                NaN            2.0   4.0    1.0
def     NaN                3.0            NaN   NaN    NaN
ghi     3.0                NaN            2.0   NaN    NaN

In [24]:
df_matrix['오늘의 커피'].notna().sum()

2

In [25]:
df_a = df_matrix.corr(numeric_only=True)['오늘의 커피'].sort_values(ascending=False).to_frame()

In [26]:
df_b = df.groupby('음료명')['주문 수'].count()

In [27]:
df_1 = pd.merge(df_a, df_b, on='음료명')
df_1

                   오늘의 커피  주문 수
음료명
오늘의 커피                1.0     2
자바칩 프라푸치노 (휘핑 제외)     NaN     2
카페 모카 (휘핑 제외)         NaN     2
카푸치노                  NaN     3
타조® 티                 NaN     1